.candy-products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.candy-product {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.504);
    figure {
        background-color: hotpink;
        margin: 0;
        min-height: 100px;
        min-width: 100px;
    }
}